a {
    text-decoration: none;
    color: white;
    padding: 1rem;
}

.projectsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.project {
    text-align: center;
    padding: 2rem;
    background-color: #00bfff42;
    margin: 1rem;
    border-radius: 15px;
}

footer {
    position: unset;
    width: 100%;
}

.profileBg {
    
    background-image: url('../image/bgProject.jpg');
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-size: cover;
}

.profile {
    text-align: center;
    margin-top: 8rem;
    border: solid;
    padding: 4rem;
    margin: auto;
    margin-top: 8rem;
    background-color: white;
    border-radius: 15px;
    border: 2px solid #0d6efd;
    width: 35%;
}

input {
    text-align: center;
    border: none;
    
}


.inputProjectTitle {
    border-radius: 20px;
}

.inputProjectTitle:focus {
    background-color: white;
}

.createProjectForm {
    text-align: center;
    margin-top: 8rem;
    border: solid;
    padding: 4rem;
    width: fit-content;
    margin: auto;
    margin-top: 8rem;
    background-color: white;
    width: 35%;
    border-radius: 15px;
    border: 2px solid #0d6efd;
}


.projectContent{
background: #ffffffc9;
border-radius: 20px;

}

#addProject {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
}

.containerStatuts {
    justify-content: center;
}

#returnLink {

    text-decoration: none;
    color: black;

}

#returnBtn:hover {

    border: 2px solid #0d6efd;
    color: white;
}

#navLinks {

    text-decoration: none;
    color: white;
    padding: 1rem;

}

#navbarNav {
    justify-content: end;
}

.navbar-text {
    color: white;
}

body {
    background-color: #f0f0f0;
}

#AddListBtn {
    display: flex;
    justify-content: center;
    margin-top: 3rem;

}

#statutBtn:hover {

    color:white;

}

#bgProjectCreation {
    
    background-image: url('../image/bgProject.jpg');
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-size: cover;
}

.inputBg {

    background-color: #f0f0f0;
    width: 55%;
    height: 2.5rem;
    border-radius: 5px;
}

#profilForm {

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.log {
    margin: 6% auto;
    background-color: white;
    border-radius: 15px;
    border: 2px solid #0d6efd;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 3% 0%;
    width: 40%;
}

.log form {
    width: 100%;
}

.log h2 {
    color: #0858d0;
}

#formRegister {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 70%;
}

.divFormRegister{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}