.projectsContainer {
    display: flex;
}

.project {
    text-align: center;
    padding: 2rem;
    background-color: #00bfff42;
    margin: 1rem;
    border-radius: 40px;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.profileForm {
    text-align: center;
    margin-top: 8rem;
    border: solid;
    padding: 4rem;
    width: fit-content;
    margin: auto;
    margin-top: 8rem;
}

input {
    text-align: center;
    border: none;
}

.inputProjectTitle {
        border-radius: 20px;;
}

.inputProjectTitle:focus {
    background-color: white;
}

.createProjectForm {
    text-align: center;
    margin-top: 8rem;
    border: solid;
    padding: 4rem;
    width: fit-content;
    margin: auto;
    margin-top: 8rem;
}

.projectContent{
background: #ffffffc9;
border-radius: 20px;

}
